# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# MLflow
mlflow.db
mlflow.db-shm
mlflow.db-wal
mlruns/
mlartifacts/

# Models / generated artifacts
models/*.pkl
models/*.joblib